.wrapper{
    min-height: 100%;
}
.router{
    height: 100%!important;
}
.index{
    height: 100%!important;
}
.ant-layout-sider-zero-width-trigger{
    opacity:0.5;
}
.contentWrapper{
    margin:20px;
    padding:10px;
    width:100%;
    background:#ffffff ;
    border-radius: 5px;
}
p.label{
    font-size: 1.3rem;
    text-align: right;
    padding-right: 1rem;
}
.text{
    font-size: 1.3rem !important;
}

.input{
    font-size: 1rem !important;
    height: 2.5rem !important;
}
.ant-select-selection{
    font-size: 1rem !important;
    height: 2.5rem !important;
}
.ant-select-selection__rendered{
    line-height: 2.4rem!important;
    height:  2.4rem!important;
}
.ant-select-dropdown-menu-item{
    font-size: 1rem !important;
    line-height: 0.4rem!important;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    /*height: 2.5rem !important;*/
}
.littleInterval{
    height: 0.5rem;
}
.ant-input-number-input{
    line-height: 2.4rem!important;
    height:  2.4rem!important;
}
.ant-checkbox-inner{
    width: 1.5rem!important;
    height: 1.5rem!important;
}
.ant-checkbox-checked .ant-checkbox-inner:after {
    left: 6px!important;
    width: 10px!important;
    height: 16px!important;
}
.ant-modal-title{
    font-size: 1.3rem !important;
}
.ant-btn-lg span{
    font-size: 1.1rem !important;
}
.ant-confirm-title{
    font-size: 1.3rem !important;
}
.ant-confirm-content{
    font-size: 1.1rem !important;
}